<div style='text-align:center'>
  <h1>
    {{title}}
  </h1>
</div>
<div class='container'>
  <!-- <app-puzzle (puzzleSolved)='onPuzzleSolved()'></app-puzzle> -->
  <app-spirograph></app-spirograph>
</div>
<div class='container'>
  <div class='row justify-content-center'>
      <!-- <input #newGameButton
             id='new-game-button'
             type="button"
             value="New Game"
             (click) = 'reloadPage();'
             class='btn btn-primary'/> -->
  </div>
</div>
<div class='container'>
  <div class='row justify-content-center message'>
      <!-- <div *ngIf='isPuzzleSolved'
           class="alert alert-success"
           role="alert">{{puzzleSolvedMessage}}</div> -->
  </div>
</div>